

<!-- **** **** **** ****  -->
<!--   Image carousel     -->
<!-- **** **** **** ****  -->

<div id="carousel-example-generic" class="col-sm-12 col-md-12 carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
      <div class="item <%= "active" if product == @products.first %>">
        

        <% begin %>
          <%= link_to image_tag(product.image_url, class: "img-carousel"), product %>
        <% rescue => e %>
          <%= image_tag(
            "the-mauskovic-dance-band-down-in-the-basement-crop-c0-5__0-5-600x600-70.jpg",
            class: "img-responsive"
          ) %>
        <% end %>


        <div class="carousel-caption">
          <p>NEW IN STOCK</p>
          <p id="carousel-link"><%=link_to product.name, product%></p>
        </div>
      </div>
      <% end %>
  </div>


</div>
