

<!-- **** **** **** ****  -->
<!--   Image carousel     -->
<!-- **** **** **** ****  -->

<div id="carousel-example-generic" class="col-sm-12 col-md-12 carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
      <div class="item <%= "active" if product == @products.first %>">
        <%= link_to image_tag(product.image_url, :class => "img-carousel"), product %>


        <div class="carousel-caption">
          <p>NEW IN STOCK</p>
          <%=link_to product.name, product%>
        </div>
      </div>
      <% end %>
  </div>


</div>
