/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* .search-field
.submit-search-btn{

  display: flex;
  align-items: center;
} */

.search-wrapper{
  display: flex;
  align-items: center;

  margin-top: 10px;

  width: 500px;

  font-family: Futura, Helvetica, Verdana sans-serif;
}

 .search-field{

   position: relative;
   margin: 0px 5px 0px 10px;
   height: 30px;
   width: calc(100% - 65px);
 }

.submit-search-btn{
  position: relative;
  margin-right: 5px;
  float: right;
  height: 30px;
  width: 50px;
}

.roundish-style{
  border-radius: 80px;
  border-width: .5px;
  border-color: black;

  background-color: white;
}

.submit-mail-btn{
  height: 40px;
  width: 130px;
}

.thank-you-text{
  color: green;
  font-size: 15px;
  font-family: Futura, Helvetica, sans-serif;
  font-weight: lighter;
}

.alert-wrapper{
  color: green;


}
