// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{

  font-size: 60px;
  color: salmon;
  font-family: Futura, Helvetica, sans-serif;
  text-transform: uppercase;
}

body{
  background-color: #fcfcfc;
  position: relative;
  padding-top: 70px;

}

/**** Navigation Bar ****/
.navbar{
  background-color: white;

}

.nav li a{
  font-family: Futura, Helvetica, Verdana sans-serif;
  color: black;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-decoration: none;


}

.hmb{
  background-color: black;
}

.btn{
  background-color: white;
}


/**** Carousel ****/
.carousel{
  height: 350px;
  margin-top: -15px;
}


.img-carousel{
  height: 30px;
  width: 300px;


  margin-top: 1.563em;
  margin-left: 11.875em;
}

.carousel-caption{
  margin-bottom: 5.000em;
  margin-left: 400px;

  width: 20%;
  background-color: black;


  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

#carousel-link a{

  color: white;
  
}

/**** Front Page Content Box ****/
.front-page-content-box{
  position: relative;
  background-color: lightgrey;

  height: 300px;
  width: 45%;

  margin: 15px;
  margin-top: 100px;
}



.front-page-content-box-img{
  position: relative;

  height: 45%;
  width: 45%;

  margin: 5px;
}

.front-page-content-box-headline{
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 1px;

  margin-top: 8px;
}

.front-page-content-box-txt, .front-page-content-box-txt a{

  font-size: 18px;
  font-family: Futura, Helvetica, Verdana sans-serif;

  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

/**** Front Page Week Section ****/

.week-section-wrapper{
  margin-top: 70px;
  margin-bottom: 70px;
}

/**** Product ****/


.footer{

position: fixed;
bottom: 0;
width: 100%;
height: 50px;
background-color: white;

color: lightgrey;
font-family: Futura, Helvetica, sans-serif;
font-weight: 50;
}

.footer p{
  position: relative;
  margin-top: 20px;
}

/**** Contact ****/

.headline{

  font-family: Futura, Helvetica, sans-serif;
  font-size: 60px;
  color: black;

  text-transform: capitalize;
}
