<div class="col-sm-12 col-md-4 wrapper_product">
  <div class="inner_product ">
    <div class="contetn-product-wrapper ">
      <div class="content-product">
        <% if product.image_url? %>
          <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
        <% else %>
          <%= image_tag(
            "the-mauskovic-dance-band-down-in-the-basement-crop-c0-5__0-5-600x600-70.jpg",
            class: "img-responsive"
          ) %>
        <% end %>

        <h6><%= link_to product.name, product %></h6>
        <strong><%= product.price %> €</strong>
      </div>
    </div>
  </div><!-- end inner_product -->
</div><!-- end product -->
