<div class="col-sm-12 col-md-4 wrapper_product">
  <div class="inner_product wrapper_product">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <h6><%= link_to product.name, product %></h6>
  <strong><%= product.price %> €</strong>
</div><!-- end inner_product -->
</div><!-- end product -->
